.main-navbar__link__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: .2em 1em;
    height: 60px;
    width: 60px;
    border-radius: 5px;;
    color: inherit;
}

.main-navbar__link__container:hover {
    color: #ffffff;
    background-color: #7b28c0 ;
}

.main-navbar__link__icon {
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
    margin:0;
    padding: 0;
}

.main-navbar__link__container p {
    margin:0;
    padding: 0;
    font-size: .5rem;
    line-height: .5rem;
    font-weight: bold;
}


.main-navbar__button--light {
    color:#9ba3aa
}

.main-navbar__button--light--active {
    color: #000000;
}

.main-navbar__button--dark {
    color: #7b7f82;
}

.main-navbar__button--dark--active {
    color: #ffffff;
}