.cta__button--dark,
.cta__button--light {
    border: none;
    cursor: pointer;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Karla';
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 1em;
    height: 50px;
}

.button__title--dark,
.button__title--light 
.button__icon--dark,
.button__icon--light {
    margin: 0;
    padding: .5em;
    height: auto;
}


.cta-btn__title--add--dark {
    background-color: #7b28c0;
    color: #fafaff;
    height: 100%;
}

.cta-btn__icon--add--dark {
    background-color: #7024ad;
    color: #fafaff;
    height: 100%;
}