.data__container {
    display: flex;
    flex-direction: column;
}

.headers__container {
    display: flex;
    font-weight: bolder;
    margin-top: 1em;
}

.header__container--regular,
.header__container--narrow,
.header__container--narrower,
.header__container--wide {
    border-bottom: 1px solid;
    margin-right: 1em;
    justify-content: flex-start;
    align-items: flex-start;
}

.header__container--regular {
    width: 200px;
}

.header__container--narrow {
    width: 75px;
    font-size: 0.75em;
}

.header__container--narrower {
    width: 65px;
    font-size: 0.75em;
}

.header__container--wide {
    width: 300px;
    font-size: 0.75em;
}

.header-cta__container {
    width: fit-content;
}

.header__container--regular,
.header__container--narrow {
    margin-right: 1em;
    justify-content: flex-start;
    align-items: flex-start;
}

