.data__container {
    display: flex;
    flex-direction: column;
}

.headers__container {
    display: flex;
    font-weight: bolder;
}

.row__container--dark,
.row__container--light {
    display: flex;
    align-items: center;
    padding: .2em 0;
}

.row__container--dark:hover {
    background-color: #353c42;
}

.row__container--light:hover {
    background-color: #f3f6fd;
}


.cell__container {
    width: 200px;
    display: flex;
    align-items: center;
}

.cell__container--narrow {
    width: 95px;
    font-size: 0.75em;
}

.cell-cta__container {
    display: flex;
    width: fit-content;
    padding: 0 1em;
    justify-content: space-around;
    align-items: center;
}

.header__container,
.header__container--narrow,
.cell__container,
.cell__container--narrow {
    margin-right: 1em;
    justify-content: flex-start;
    align-items: flex-start;
}

