.data__container {
    display: flex;
    flex-direction: column;
}

.rows__container {
    margin-top: .2em;
}

.total-value__container {
    display: flex;
    justify-content: flex-end;
    letter-spacing: 1px;
    font-weight: bolder;
    margin-top: .4em;
}

.total-value__container--title {

}

.total-value__container--value {
    display: flex;
    justify-content: flex-end;
    width: 150px;
}

.headers__container {
    display: flex;
    font-weight: bolder;
}

.row__container--dark,
.row__container--light {
    display: flex;
    align-items: center;
    padding: .2em 0;
}

.row__container--dark:hover {
    background-color: #353c42;
}

.row__container--light:hover {
    background-color: #f3f6fd;
}

.position-arrows__container {
    width: 40px;
    font-size: .7em;
}

.cell-cta__container,
.cell__container--narrow,
.cell__container--narrower,
.cell__container--regular,
.cell__container--wide {
    margin-right: 1em;
    /* font-size: 1em; */
}

.cell__container {
    width: 200px;
    display: flex;
    align-items: center;
}

.cell__container--narrow {
    width: 75px;
    /* font-size: 0.75em; */
}

.cell__container--narrow {
    width: 75px;
    /* font-size: 0.75em; */
}

.cell__container--narrower {
    width: 65px;
    /* font-size: 0.75em; */
    position: relative
}

.cell__container--regular {
    width: 200px;
}

.cell__container--wide {
    width: 300px;
    /* font-size: 0.75em; */
    position: relative
}

.cell-cta__container {
    display: flex;
    width: fit-content;
    padding: 0 1em;
    justify-content: space-around;
    align-items: center;
}

.cell__container,
.cell__container--narrow {
    margin-right: 1em;
    justify-content: flex-start;
    align-items: flex-start;
}

