.data__container {
    display: flex;
    flex-direction: column;
}

.headers__container {
    display: flex;
    font-weight: bolder;
    margin-top: 1em;
}

.header__container,
.header__container--narrow {
    border-bottom: 1px solid;
    margin-bottom: 1em;
}

.header__container {
    width: 200px;
}

.header__container--narrow {
    width: 95px;
    font-size: 0.75em;
}

.header-cta__container {
    width: fit-content;
}

.header__container,
.header__container--narrow {
    margin-right: 1em;
    justify-content: flex-start;
    align-items: flex-start;
}

