.total-value__container--light,
.total-value__container--dark {
    display: flex;
    justify-content: flex-end;
    letter-spacing: 1px;
    font-weight: bolder;
    padding: .4em 0;
}

.total-value__container--light {
    background-color: #f3f6fd;
    color: #444d55;
}

.total-value__container--dark {
    background-color: #424C56;
    color: #fafaff;;
}

.summary-value__container {
    width: 130px;
    display: flex;
    justify-content: flex-end;
}

.summary-suffix__container {
    width: 20px;
    display: flex;
    justify-content: flex-start;
}