.modal__icon--info,
.modal__icon--warning {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto .5em auto;
    font-size: 2em;
    height: fit-content;
}

.modal__icon--info {
    color: #3f7fff;
}

.modal__icon--warning {
    color: #ff3939;
}