* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
}

body.body--light {
  background-color: #ffffff;
}

body.body--dark {
  background-color: #4c4c4c;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto; 
}
