* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
}

body.body--light {
  background-color: #fafaff;
  color: #192c3b ;
}

body.body--dark {
  background-color: #353c42;
  color: #fafaff
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto; 
}

.main-content__container {
  margin-left: 250px;
  margin-top: 100px;
  padding-right: 2em;
  position: absolute;
  z-index: -100;
}
