* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
}

body.body--light {
  background-color: #fafaff;
  color: #192c3b ;
}

body.body--dark {
  background-color: #353c42;
  color: #fafaff
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto; 
}

.main-content__container {
  position: fixed;
  left: 0px;
  display: flex;
  justify-content: center;
}


.main-content-dashboard__container {
  position: fixed;
  left: 200px;
  display: flex;
  justify-content: center;
  padding: .5em 2em;
  z-index: -100;
}
.main-content-dashboard__container {
  margin-top: 80px;
}

.main-content__container {
  position: fixed;
  top: 200px;
  /* it will set the content always in the middle of page
  200px is the value of the "left" property from main-content-dashboard__container */
  width: calc(100vw - 200px);
  margin-left: 200px; 
  padding: .5em 2em;
}

.main-section__container--dark {
  background-color: #51595f;
  border: 1px solid #51595f;
}

.main-section__container--light {
  background-color: #ffffff;
  border: 1px solid #ededf2;
}

.main-section__container--dark,
.main-section__container--light {
  display: flex;
  padding: .8em;
  margin: 0 auto;
  border-radius: .2em;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
}

button {
  box-sizing: border-box;
}