.remark__modal--dark,
.remark__modal--light {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: .9em;
    padding: .5em;
    text-align: justify;
    width: 400px;
    height: auto;
    left: -410px;
    top: -12px;
    z-index: 200;
    border-radius: .3em;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}

.remark__modal--dark {
    background-color: #f6f7f9;
    color: #000000;
    border: 1px solid #f6f7f9;
}

.remark__modal--light {
    background-color: #f6f7f9;
    border: 1px solid #000000;
    color: black;
}

.arrow-right--dark,
.arrow-right--light {
    position: absolute;
    width: 0; 
    height: 0; 
    right: -8px;
    top: 10px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    z-index: 100;
  }

  .arrow-right--dark {
    border-left: 8px solid #f6f7f9;
  }


  .arrow-right--light {
    border-left: 8px solid #000000;
  }
