.side-menu-item__container {
    display: flex;
    align-items: center;
    width: 200px;
    height: 30px;
    position: relative;
    background-color: #f6f7f9;
    cursor: pointer;
    text-transform: uppercase;
    padding-left: .5em;
    
}
.side-menu-item__container:hover {
    border-right: 2px solid #7b28c0;
    background-color: #f8f2fc;
}